# 平均によるアンサンブル
 サンプルプログラム

In [1]:
import pandas as pd

## Submitファイルの読込
 決定木とロジスティック回帰のベスト投稿ファイルを読込.

In [2]:
# 決定木
sub_tree = pd.read_csv(
    "../submit/submit_tree_20250909_2.csv",
    sep = ",",
    header = None,
    quotechar = "\""
)
sub_tree = sub_tree.rename(columns={0: "id", 1: "pred"})

# ロジスティック回帰
sub_logi = pd.read_csv(
    "../submit/submit_logi_20250916_3.csv",
    sep = ",",
    header = None,
    quotechar = "\""
)
sub_logi = sub_logi.rename(columns={0: "id", 1: "pred"})

## 読込データ確認

In [3]:
sub_tree.shape

(18083, 2)

In [4]:
sub_tree.head()

   id      pred
0   1  0.928020
1   2  0.916767
2   3  0.015436
3   4  0.015436
4   5  0.509724

In [5]:
sub_logi.shape

(18083, 2)

In [6]:
sub_logi.head()

   id      pred
0   1  0.835635
1   2  0.516822
2   3  0.000323
3   4  0.002778
4   5  0.139937

## 平均

In [7]:
# idが同じ順番で並んでいる想定
submit_ens = sub_tree[["id"]].copy()
submit_ens["pred"] = (sub_tree["pred"] + sub_logi["pred"]) / 2

In [8]:
# # idが同じ順番である保証が無いとき(idでjoin)
# submit_ens = pd.merge(sub_tree, sub_logi, on="id", how="inner")
# submit_ens["pred"] = (submit_ens["pred_x"] + submit_ens["pred_y"]) / 2
# submit_ens = submit_ens[["id", "pred"]].copy()

In [9]:
submit_ens.shape

(18083, 2)

In [10]:
submit_ens.head()

   id      pred
0   1  0.881827
1   2  0.716794
2   3  0.007879
3   4  0.009107
4   5  0.324830

## Output

In [11]:
submit_ens.to_csv(
    "../submit/submit_tree_logi_ens_20250916.csv",
    sep = ",",
    index = False,
    header = False
)