### サンプルデータ

In [1]:
import pandas as pd
import numpy as np

In [2]:
dat = pd.DataFrame()
dat["x"] = list(range(1,100))
dat["log_x"] = np.log(dat["x"])

In [3]:
dat.head()

   x     log_x
0  1  0.000000
1  2  0.693147
2  3  1.098612
3  4  1.386294
4  5  1.609438

### ピアソンの積率相関係数

In [4]:
dat.corr(method="pearson")

              x     log_x
x      1.000000  0.896021
log_x  0.896021  1.000000

### スピアマンの順位相関係数

In [5]:
dat.corr(method="spearman")

         x  log_x
x      1.0    1.0
log_x  1.0    1.0