# 平均によるアンサンブル
 サンプルプログラム

In [1]:
import pandas as pd

## Submitファイルの読込
 決定木とロジスティック回帰のベスト投稿ファイルを読込.

In [2]:
# 決定木
sub_tree = pd.read_csv(
    "../submit/submit_tree_20190601_1.csv",
    sep = ",",
    header = None,
    quotechar = "\""
)
sub_tree = sub_tree.rename(columns={0: "id", 1: "pred"})

# ロジスティック回帰
sub_logi = pd.read_csv(
    "../submit/submit_logi_20190608_1.csv",
    sep = ",",
    header = None,
    quotechar = "\""
)
sub_logi = sub_logi.rename(columns={0: "id", 1: "pred"})

## 読込データ確認

In [3]:
sub_tree.shape

(18083, 2)

In [4]:
sub_tree.head()

   id      pred
0   1  0.660494
1   2  0.551402
2   3  0.027311
3   4  0.027311
4   5  0.113602

In [5]:
sub_logi.shape

(18083, 2)

In [6]:
sub_logi.head()

   id      pred
0   1  0.149484
1   2  0.098216
2   3  0.089205
3   4  0.105612
4   5  0.101074

## 平均

In [7]:
# idが同じ順番で並んでいる想定
submit_ens = sub_tree[["id"]].copy()
submit_ens["pred"] = (sub_tree["pred"] + sub_logi["pred"]) / 2

In [8]:
# # idが同じ順番である保証が無いとき(idでjoin)
# submit_ens = pd.merge(sub_tree, sub_logi, on="id", how="inner")
# submit_ens["pred"] = (submit_ens["pred_x"] + submit_ens["pred_y"]) / 2
# submit_ens = submit_ens[["id", "pred"]].copy()

In [9]:
submit_ens.shape

(18083, 2)

In [10]:
submit_ens.head()

   id      pred
0   1  0.404989
1   2  0.324809
2   3  0.058258
3   4  0.066461
4   5  0.107338

## Output

In [11]:
submit_ens.to_csv(
    "../submit/submit_tree_logi_ens_20201013.csv",
    sep = ",",
    index = False,
    header = False
)